<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2>Team Name: <%= params["name"] %></h2>
   <h3>Coach: <%= params["coach"] %></h3>
   <h3>Point guard: <%= params["pg"] %></h3>
   <h3>Shooting guard: <%= params["sg"] %></h3>
   <h3>Small forward: <%= params["sf"] %></h3>
   <h3>Power forward: <%= params["pf"] %></h3>
   <h3>Center: <%= params["c"] %></h3>
 </body>
</html>
